<h2>Welcome to CCC!</h2>
<p>
  {{controller.message}}
</p>
<div class="left">
<form name="carForm" novalidate>
  <i class="material-icons">search</i>
  <input ng-model="controller.search"
       ng-model-options="{debounce:1000}"
       ng-change="controller.fetch()" />

<ul>
<!-- | filter: { CarMakeId: 2 -->
    <li class="list" ng-repeat="car in controller.cars" ng-click="controller.showModal(cars.ShortDescription)">
        {{cars.ShortDescription}}
    </li>
<!--
<li class="list" ng-repeat="make in controller.makes" ng-click="controller.showModal(makes.name)">
    {{makes.name}}
</li>
-->
</ul>

</div>
<div class="right">
  <div><i class="material-icons">directions_car</i>
      <label>
          Selected Make:
          <select name="make" ng-model="makes.name" ng-options="m.id as m.name for m in controller.makes" ng-change="controller.filter()">
              {{makes.name}}
          </select>
      </label>
  </div>

  <div><i class="material-icons">list</i>
      <label>
          Selected Car:
          <select name="car" ng-model="cars.ShortDescription" ng-options="c.CarMakeId as c.ShortDescription for c in controller.cars"
          ng-change="controller.showModal(this)">
              {{cars.ShortDescription}}
          </select>
      </label>
  </div>

</div>
</form>

<!--
  <select ng-model="ctrl.selectedCountryId"
            ng-options="c.id as c.label for c in ctrl.countries">
    </select>
    Selected Country ID : {{ctrl.selectedCountryId}}

    <select ng-model="movie.name" ng-options="c.id as c.name for c in controller.movies">
        {{movie.name}}
    </select>
  -->
