h2, p {
  text-align: center;
}
p {
  font-weight: bold;
  font-style: italic;
}

.left {
  float: left;
}

li.list {
  text-decoration: underline;
}

img.modalImg {
    max-width:500px;
    max-height:500px;
    width:auto;
    height:auto;
}

span.blue {
  color: blue;
}
span.green {
  color: green;
}
span.purple {
  color: purple;
}
